<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hiring Lab</title>
    <script
      src="https://kit.fontawesome.com/4e1e0e24e3.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="<%= stylepath %>" />
  </head>
  <body>
    <!-- Header -->
    <div class="header">
      <div class="header-left">
        <a href="http://localhost:3000/home">
          <h3 style="text-align: right">
            The Hiring <i class="fa-solid fa-flask-vial"></i>
          </h3>
        </a>
        <div class="header-search">
          <form action="/<%=path%>/search" onsubmit="clickk()" method="post">
            <input style="border:none;background: none;outline: none;" id="search" type="text" name= "name" placeholder="Search"/>
             <i class="fa-solid fa-magnifying-glass"></i>
          </form>

        </div>
      </div>
      <div class="header-right">
        <a href="http://localhost:3000/home">
          <div class="headerOptions">
            <i class="fa-sharp fa-solid fa-house"></i>
            <h5>Home</h5>
          </div>
        </a>
        <a href="http://localhost:3000/chat">
          <div class="headerOptions">
            <i class="fa-solid fa-message"></i>
            <h5>Messages</h5>
          </div>
        </a>
        <a href="http://localhost:3000/maincourse">
          <div class="headerOptions">
            <i class="fa-solid fa-vial"></i>
            <h5>Courses</h5>
          </div>
        </a>

        <a href="http://localhost:3000/profile">
          <div id="profile">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRIg74DLmQxFVxzS_-jAsHnWeJGfNZEgQtWsA_cYgmmpg&s"
              alt=""
            />
            <span><%=data.profile.name%></span>
          </div>
        </a>
      </div>
    </div>
  </body>
  <script type="text/javascript">
      var input = document.getElementById("search");
      input.addEventListener("keypress", function(event) {
    // If the user presses the "Enter" key on the keyboard
    if (event.key === "Enter") {
      var nametosearch = input.value;
      alert(nametosearch);
    }
    });
    function click(){
      alert("clicked");
    }
  </script>
