<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hiring Lab</title>
    <link rel="stylesheet" href="/css/landing.css">

</head>
<body>

    <nav id="navbar">
        <ul>
            <li class="item"><a href="http://localhost:3000/">Profile</a></li>
            <li class="item"><a href="http://localhost:3000/">Course</a></li>
            <li class="item"><a href="http://localhost:3000/">Chat</a></li>
            <li class="item"><a href="#About">About us</a></li>
            <li class="item"><a href="#Jobs">Jobs</a></li>

        </ul>
        <ul class="signUp">
            <li class="item"><a href="http://localhost:3000/">Join Us</a></li>
        </ul>

    </nav>
    <div id="page1">

        <h1>Welcome to <span id="hiring">Hiring</span>
            <span id="lab">Lab</span>
            </h1>
        <p>Hire for passion and intensity; there is training for everything else </p>
    </div>

        <div class="course" id="Course">
            <h1>Courses</h1>
            <div class="numcounting">
                <div class="CourseCounter" data-target="200">
                    <h2>Course</h2>
                    0
                </div>
                <div class="InstructorCounter" data-target="100">
                    <h2>Instructor</h2>
                    0
                </div>
            </div>
            <h2>Learn <span id="hunplus">100+</span>skills from top instructors</h2>
            <div class="para">
            <div class="getjob">
                    <label for="getjob"></label>
                    <select name="cars" id="cars">
                        <option value="" disabled selected>Choose topic to learn about</option>
                        <option value="volvo">Baics of HTML</option><br><br>
                        <option value="saab">Understanding javascript</option><br><br>
                        <option value="mercedes">Basics of CSS</option>
                      </select>
                </div>
            </div>
        </div>
        <div class="about" id="About">
            <h1>About us</h1>
            <p align="center">Finding jobs that best suits the interests and skill set is quite a
challenging task for the job seeker. Similarly, finding the right candidate with desired
qualifications is an important task for the recruiters of any organization. The Hiring Lab
is the solution where recruiter as well as the job seeker meet aiming at
fulfilling their individual requirement. This web-application makes sure that job
seeking is convenient on both sides.<p>

</p>
        </div>
        <div class="jobs" id="Jobs">
            <h1>Get Hired!!</h1>
            <div class="parajobs">

                <div class="container">
                    <div class="getjob">
                        <p>
                            Get calls from &nbsp;&nbsp;<span id="hunplus">100+</span>&nbsp;&nbsp;companies from&nbsp; <span id="fifplus">50+</span>&nbsp;&nbsp;job titles
                        </p>
                        <div class="subox1">

                            <div class="box">Engineering</div>
                            <div class="box">Business<br>Developement</div>
                            <div class="box">Finance</div>
                            <div class="box">Administrative<br>Assistant</div>
                            <div class="box">Retail Associate</div>
                            <div class="subox2">
                                <div class="box">Customer Service</div>
                                <div class="box">Operations</div>
                            </div>

                        </div>

                      <div class="box">information Technology</div>
                      <div class="box">Marketing</div>
                      <div class="box">Human Resources</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">

            <ul>
                <h2>General</h2>
                <li>Sign up</li>
                <li>Help center</li>
                <li>About</li>
                <li>Press</li>
                <li>Blog</li>
                <li>Carrers</li>
                <li>Developers</li>

            </ul>
            <ul>
                <h2>Browse</h2>
                <li>Learning</li>
                <li>Jobs    </li>
                <li>Salary</li>
                <li>Mobile</li>
                <li>Services</li>
                <li>Products</li>
            </ul>
            <ul>
                <h2>Business Solutions</h2>

                <li>Talent</li>
                <li>Marketing </li>
                <li>Sales </li>
                <li>Learning </li>
            </ul>

            <ul>
                <h2>Directories</h2>
                <li>Members</li>
                <li>Jobs</li>
                <li>Companies</li>
                <li>Featured</li>
                <li>Learning</li>
                <li>Posts</li>
                <li>Articles</li>
                <li>Schools</li>
                <li>News</li>
                <li>Services</li>
            </ul>
        </div>

</body>
</html>
