<%- include('header') -%>
    <h2 class="Courses-title">Courses available</h2>
    <section class="course-products">
      <div class="course-product-item">
        <div
          style="
            background-image: url('https://www.hostinger.com/tutorials/wp-content/uploads/sites/2/2018/11/what-is-html-3.jpg');
          "
          class="course-item-image"
        ></div>
        <p class="title">Basics of HTML</p>
        <p class="description">
          The HyperText Markup Language or HTML is the standard markup language
          for documents designed to be displayed in a web browser.
        </p>
        <button>
          <a href="http://localhost:3000/course1">View Course</a>
        </button>
      </div>
      <div class="course-product-item">
        <div
          style="
            background-image: url('https://www.barrownz.com/images/design/javascript.jpg');
          "
          class="course-item-image"
        ></div>
        <p class="title">Understanding javascript</p>
        <p class="description">
          JavaScript, often abbreviated JS, is a programming language that is
          one of the core technologies of the World Wide Web, alongside HTML and
          CSS.
        </p>
        <button>
          <a href="http://localhost:3000/course1">View Course</a>
        </button>
      </div>
      <div class="course-product-item">
        <div
          style="
            background-image: url('https://blog.logrocket.com/wp-content/uploads/2020/06/CSS-3.png');
          "
          class="course-item-image"
        ></div>
        <p class="title">Basics of CSS</p>
        <p class="description">
          Cascading Style Sheets is a style sheet language used for describing
          the presentation of a document written in a markup language such as
          HTML or XML.
        </p>
        <button>
          <a href="http://localhost:3000/course1">View Course</a>
        </button>
      </div>
    </section>
  </body>
</html>
