<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>COURSES</title>
    <script
      src="https://kit.fontawesome.com/4e1e0e24e3.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/maincoursestyle.css" />
  </head>
  <body>
    <header>
      <a href="http://localhost:3000/home">
        <h3 style="text-align: right">
          The hiring <i class="fa-solid fa-flask-vial"></i>
        </h3>
      </a>
      <div class="container">
        <div id="search">
          <div>
            <img src="images/courses/search.png" alt="" />
            <input type="text" placeholder="Search" />
          </div>
        </div>

        <div id="menu">
          <a href="http://localhost:3000/home">
            <div>
              <img src="images/courses/home.png" alt="" />
              <span>Home</span>
            </div>
          </a>
          <a href="http://localhost:3000/maincourse">
            <div>
              <i class="fa-solid fa-vial"></i>
              <span>Courses</span>
            </div>
          </a>
          <a href="http://localhost:3000/chat">
            <div>
              <img src="images/courses/chat.png" alt="" />
              <span>Messages</span>
            </div>
          </a>
        </div>
        <a href="http://localhost:3000/profile">
          <div id="profile">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRIg74DLmQxFVxzS_-jAsHnWeJGfNZEgQtWsA_cYgmmpg&s"
              alt=""
            />
            <span>Anonymous User 1</span>
          </div>
        </a>
      </div>
    </header>
    <h2 class="Courses-title">Courses available</h2>
    <section class="course-products">
      <div class="course-product-item">
        <div
          style="
            background-image: url('https://www.hostinger.com/tutorials/wp-content/uploads/sites/2/2018/11/what-is-html-3.jpg');
          "
          class="course-item-image"
        ></div>
        <p class="title">Basics of HTML</p>
        <p class="description">
          The HyperText Markup Language or HTML is the standard markup language
          for documents designed to be displayed in a web browser.
        </p>
        <button>
          <a href="http://localhost:3000/course1">View Course</a>
        </button>
      </div>
      <div class="course-product-item">
        <div
          style="
            background-image: url('https://www.barrownz.com/images/design/javascript.jpg');
          "
          class="course-item-image"
        ></div>
        <p class="title">Understanding javascript</p>
        <p class="description">
          JavaScript, often abbreviated JS, is a programming language that is
          one of the core technologies of the World Wide Web, alongside HTML and
          CSS.
        </p>
        <button>
          <a href="http://localhost:3000/course1">View Course</a>
        </button>
      </div>
      <div class="course-product-item">
        <div
          style="
            background-image: url('https://blog.logrocket.com/wp-content/uploads/2020/06/CSS-3.png');
          "
          class="course-item-image"
        ></div>
        <p class="title">Basics of CSS</p>
        <p class="description">
          Cascading Style Sheets is a style sheet language used for describing
          the presentation of a document written in a markup language such as
          HTML or XML.
        </p>
        <button>
          <a href="http://localhost:3000/course1">View Course</a>
        </button>
      </div>
    </section>
  </body>
</html>
