<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <link rel="stylesheet" href="css/stylequiz.css">
</head>
<body>
    <div class="containerx">
        <h1>Take a test on HTML to acess your knowledge!!!</h1>
        <button class="taketest">
            take test
        </button>
    </div>

<div class="container2">
        <div class="text">

        </div>
        <div class="top">
            <!-- <a id=leaderboard>View Highscores <i class="fas fa-hand-point-left fa-lg"></i>
            </i></a>  -->
            <!-- <h2 class="showtime1">time:</h2> -->
            <h2 class="showtime"></h2>

        </div>


        <div class="container">
            <div class="mainsec">
                <h1>HTML Quiz Challenge</h1>
                <h3>Try to answer the following HTML-related questions within the time limit.
                    Keep in mind that incorrect answers will penalize your score/time by ten seconds!!
                </h3>
            </div>


    <button class="btn1">Start quiz</button>



    <h1 class="question"></h1>

    <button class="op1"></button>
    <button class="op2"></button>
    <button class="op3"></button>
    <button class="op4"></button>

    <h1 class="answer"></h1>


    <div class="viewscore">
        <h1>All done!</h1>
        <h2 class="showscore"></h2>

        <!-- <div class="final">
            <h2>Enter initials:</h2>
            <textarea class="area"></textarea>
            <button class="submit">submit</button>

        </div> -->
    <div class="seescore">

    </div>
    <br/>
    <form action='<%=ID%>/test' method="post" >
        <div class="field btn">
           <div class="btn-layer"></div>
           <input type="hidden" name="testScore" value="" id="finalsendoffscore">
           <button type="submit" name="testDone" value='' id="finalsendoff" class="btn1">Finish</button>
        </div>
     </form>
    <!-- <h1 class="finalscore">Highscores</h1>
    <div class="buttons">
        <button class="goback">go back</button>
        <button class="clear">clear Highscores</button>
    </div> -->

    </div>
    <h1 class="finalscore">Highscores</h1>
    <ul class="people">

    </ul>
    <div class="buttons">
        <button class="goback">go back</button>
        <button class="clear">clear Highscores</button>
    </div>
    </div>
    </div>
    <script type="text/javascript" src="js/testscript.js"></script>
</body>
</html>
